name: Deploy Zenith Codex

on:
  push:
    branches: [ "main" ] # Dispara quando você dá push na main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          port: 65002
          script: |
            PROJECT_PATH="/home/ubuntu/zenithcodex/site_zenithcodex"
            cd $PROJECT_PATH || { echo "Erro: Pasta não encontrada"; exit 1; }
            git config --global --add safe.directory $PROJECT_PATH
            export GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no -i /root/.ssh/id_ed25519"
            git pull origin main
            docker compose up zenithcodex -d --build  
